/* order of these files is important and should not be changed */

@import 'icons/extension-icons.css';
@import 'hide-tabline.css';
@import "userChrome-hover.css";

:root { 
  --dark-0: #0F141A;
  --dark-base: #131a21;
  --dark-1: #27303A;
  --dark-2: #303B46;
  --dark-3: #404F5E;
  --dark-4: #48596A;
  --light-0: #D7DFEA;
  --light-base: #afc0d5;
  --light-1: #A1B5CE;
  --light-2: #94ABC7;
  --light-3: #87A0C0;
  --light-4: #7996B9;
  --accent: #a3b8ef;
  --yellow: #fbdf90;
  --green: #9ce5c0;
  --red: #f9929b;
  --extension-icon-mask: grayscale(85%) invert(27%) sepia(47%) saturate(240%) hue-rotate(168deg) brightness(96%) contrast(92%);
    
  /* expanded width of the sidebar. 
    used for userChrome-static, and hover */
  --sidebar-width: 250px; 
  /* initial width of the sidebar. 
    advised not to change since tst css relies on this value*/
  --sidebar-collapsed-width: 60px;

  --dividers: 2px;
    
  --tl-animation-duration: 200ms;
  /*--tl-tab-background-gradient: */
  /* uncomment and add gradient value for selected tab gradient*/
  
  /******WINDOW CONTROL PLACEMENT VARS******/
  /* larger value moves window controls down,*/
  /* can be negative(moves controls up) */
  /* 55px if tabline visible, -25px if tabline hidden */
  --wc-vertical-shift: 15px;
  --wc-left-space: 10px; /* add space to the left of window controls*/
  --wc-right-space: 15px; /* add space to the right of window controls*/
  /* left-space shifts window-controls */
  /* if you want to shift them to the left: positive value */
  /* and if you want to shift them to the right: smaller or negative value */
  /* right-space shifts rest of the navbar (forward,backward,urlbar,etc.) to the right */
  /* if you want to increase/decrease space between window-controls and navbars: */
  /* set positive/negative value for right-space*/
    
}

#titlebar {
display: none;
}

:root[privatebrowsingmode="temporary"]{ 
  --dark-0: #252F37;
  --dark-base: #29343d;
  --dark-1: #354450;
  --dark-2: #3D4E5C;
  --dark-3: #4E6374;
  --dark-4: #566D81;
  --light-0: #D7DFEA;
  --light-base: #afc0d5;
  --light-1: #A1B5CE;
  --light-2: #94ABC7;
  --light-3: #87A0C0;
  --light-4: #7996B9;
  --accent: #a3b8ef;
  --yellow: #fbdf90;
  --green: #9ce5c0;
  --red: #f9929b;
  --extension-icon-mask: grayscale(85%) invert(35%) sepia(10%) saturate(1186%) hue-rotate(165deg) brightness(99%) contrast(86%); 
}
